<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bienvenido a</ion-card-subtitle>
      <ion-card-title>¡Video Club!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      iVideoclub es una aplicación
      desarrollada con Ionic.
      Para acceder a la gestión del videoclub
      pulsa el siguiente botón:
    </ion-card-content>
    <ion-button expand="full" color="light" (click)="videoclub()">Acceso a iVideoclub</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Información sobre el autor</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aplicación desarrollada por Máximo Sánchez
    </ion-card-content>
    <ion-button expand="full" color="light" (click)="autor()">Consultar Información</ion-button>
  </ion-card>